@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik+Bubbles&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Itim', cursive;
    --font3: 'Rubik Bubbles', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* Toda primeira letra de cada palavra fica maiúscula*/
    font-family: var(--font3);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(68, 68, 68);
    color: white;
}

section.imagem > p {
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.568);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}