@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(180deg, #7A1001, #EB4E00 60%, #FFBD3D 95%);
    background-attachment: fixed;
}

main.index{
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    box-shadow: 10px 10px 10px #331100;
}

main.new-world{
    margin: auto;
    background-image: url(favicon-medias/new-world-750.jpg);
    background-size: 100% 100%;
    border-radius: 3%;
    padding: 10px;
    height: 600px;
    width: 600px;
    box-shadow: 10px 10px 10px #2c0500da;
    padding: 5px;
    background-repeat: no-repeat;
}

main.zelda{
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 3%;
    padding: 10px;
    box-shadow: 10px 10px 10px #2c0500da;
    background-image: url(favicon-medias/Zelda-750.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: #369BC7;
    text-shadow: 1px 1px #0c212b;
}

h2{
    text-align: center;
    color: #00D0D4;
    text-shadow: 1px 1px #00191a;
}

ul{
    width: 175px; /* espaço que ficará o texto*/
    margin: 0 auto;
    /* Zero margem (cima e baixo) e (direita e esquerda automática) */
}

iframe{
    padding: 10px;
    height: 300px;
    width: 400px;
    margin: 0 auto; 
    display: block;
    /*Para centralizar um video devemos usar margin:0 auto; e display: block;*/
    border-radius: 30px;
}